@import "./tailwind.css"; /* Must be imported 1st; otherwise `@apply` won't work in other files! */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap");
@import "icons/fontello.css";
@import "components.css";
@import "time-input.css";
@import "progress-container.css";
@import "time-notataion.css";

:root {
  --base-font-size: min(4vmin, 2vmax);
  --input-size: 20vmin;
  --input-font-size: 10vmin;
}

* {
  @apply m-0 p-0 leading-none;
}

html, body {
  @apply h-full overflow-hidden select-none;
  /* The `font-size: calc(var() * 1)` required; otherwise does not work. */
  @apply font-sans-serif text-[calc(var(--base-font-size)*1)];
  @apply bg-surface-light dark:bg-surface-dark text-on-surface-light dark:text-on-surface-dark;
}

.timer-container {
  & > * {
    @apply shrink;
  }

  & > *:first-child {
    @apply mb-8;
  }
}
