@import "./tailwind.css"; /* Must be imported 1st; otherwise `@apply` won't work in other files! */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap");

:root {
  --base-font-size: min(4vmin, 2vmax);
  --input-size: min(25vmin, 25vmax);
  --input-font-size: min(8vmin, 8vmax);
}

* {
  @apply m-0 p-0 leading-none;
}

html, body {
  @apply h-full overflow-hidden;
  /* The `font-size: calc(var() * 1)` required; otherwise does not work. */
  @apply font-sans-serif text-[calc(var(--base-font-size)*1)];
  @apply bg-surface-light dark:bg-surface-dark text-on-surface-light dark:text-on-surface-dark;
}

button, input {
  @apply inline-block outline-0 cursor-pointer transition-colors;

  @apply bg-transparent;
  @apply text-accent-light dark:text-accent-dark;
  @apply border-accent-light dark:border-accent-dark;

  &:hover, &:active, &:focus {
    @apply bg-surface-high-light dark:bg-surface-high-dark;
    @apply text-accent-high-light dark:text-accent-high-dark;
    @apply border-accent-high-light dark:border-accent-high-dark;
  }
}

a {
  @apply outline-0 cursor-pointer transition-colors;
  @apply text-accent-light dark:text-accent-dark;

  &:hover, &:active, &:focus, &:visited {
    @apply text-accent-high-light dark:text-accent-high-dark;
  }
}

.big-text-container {
  @apply h-[var(--input-size)];
  /* The `font-size: calc(var() * 1)` required; otherwise does not work. */
  @apply leading-[var(--input-size)] text-[calc(var(--input-font-size)*1)] text-center font-bold;
}

.with-border {
  @apply overflow-hidden border-2 rounded-xl;
}
